.filter {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 15px;
    row-gap: 15px;
    justify-items: center;
}

@media screen and (min-width: 480px) {
    .filter {
        grid-template-columns: 1fr 1fr 1fr; 
    }
}